:root {
  --Dark-Blue-Dark-Mode-Elements: hsl(209, 23%, 22%);
  --Very-Dark-Blue-Dark-Mode-Background: hsl(207, 26%, 17%);
  --Very-Dark-Blue-Light-Mode-Text: hsl(200, 15%, 8%);
  --Dark-Gray-Light-Mode-Input: hsl(0, 0%, 52%);
  --Very-Light-Gray-Light-Mode-Background: hsl(0, 0%, 98%);
  --White-Dark-Mode-Text-Light-Mode-Elements: hsl(0, 0%, 100%);
}

body {
  background-color: var(--Very-Dark-Blue-Dark-Mode-Background);
}
nav,
input,
.country,
select,
.back {
  background-color: var(--Dark-Blue-Dark-Mode-Elements) !important;
  /* color: var(--Dark-Gray-Light-Mode-Input) !important; */
  color: #bdc7d1;
  box-shadow: none !important;
}

nav,
.country span,
.country p:first-child {
  color: var(--White-Dark-Mode-Text-Light-Mode-Elements);
}

.info-country {
  background-color: inherit !important;
}
.back button {
  color: #bdc7d1;
}
.info-country > div:last-child p {
  background-color: var(--Dark-Blue-Dark-Mode-Elements);
  outline: none;
}
.back i {
  color: #bdc7d1 !important;
}
.mode i {
  color: var(--White-Dark-Mode-Text-Light-Mode-Elements) !important;
}
